{% include "shared/header" %}
<body>
{% include "shared/navbar" %}
{% include "shared/minicart" %}
        <div id="main">
		<h2>{{title}}</h2>
		{% include "shared/contactform" %}
        </div>
    </body>
</html>
