        <form method="post" action="/cgi-bin/mailer.php">
        Email: <input type="text" name="from"><br>
        Name: <input type="text" name="name"><br>
        Subject: <input type="text" name="subject"><br>
        Message: <textarea rows="10" cols="40" name="message"></textarea><br>
        <input type="submit" name="submit" value="Submit Feedback">
        </form> 
